- form_for host do |form|
  = form.error_messages

  .fields
    .field
      = form.label :name
      = form.text_field :name
  .buttons
    .button
      = form.submit 'Save this Host'
      - unless current_page?(hosts_path)
        or
        = link_to 'Cancel', hosts_path
