.back
  = link_to "&larr; #{@host.name}", @host

%h1= "Edit #{@host.name}"
- form_for @host do |form|
  = form.error_messages

  .fields
    .field
      = form.label :pop_server, 'POP Server'
      = form.text_field :pop_server
    .field
      = form.label :smtp_server, 'SMTP Server'
      = form.text_field :smtp_server
  .buttons
    .button
      = form.submit 'Save this Host'
      or
      = link_to 'Cancel', @host
