.back= link_to '&larr; Hosts', hosts_path

%h1= @host.name
%dl
  %dt POP Server
  %dd= link_to @host.pop_server, edit_host_path(@host)
  %dt SMTP Server
  %dd= link_to @host.smtp_server, edit_host_path(@host)

%h2= pluralize @host.accounts.size, 'Account'
%table= render @host.accounts.alphabetized

%h3= 'Create a New Account'
= render :partial => 'accounts/form', :locals => { :account => @host.accounts.build }
