.back
  = link_to "&larr; #{@account.username}", @account

%h1= "Edit #{@account.username}'s Account"
- form_for @account do |form|
  = form.error_messages

  .fields
    .field
      = form.label :password
      = form.text_field :password
    .field
      = form.label :limit_in_kilobytes
      = form.text_field :limit_in_kilobytes
      KB (Set to 0 for Unlimited)

  .buttons
    .button
      = form.submit 'Save'
      - if @account.errors.on(:password)
        = form.submit 'Ignore password errors', :name => 'account[ignore_password_errors]'
      or
      = link_to 'Cancel', @account
