.back
  = link_to "&larr; #{@account.host.name}", @account.host

%h1= @account.username
%dl
  %dt Password
  %dd= link_to @account.password, edit_account_path(@account)
  %dt Email
  %dd= @account.email
  %dt Local Email
  %dd= @account.local_email
  %dt Mailbox Path
  %dd= @account.mailbox_path
  %dt Limit
  %dd= link_to format_account_limit(@account.limit), edit_account_path(@account)
